<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Distribuidora DAOS</h4>
      <span class="text-muted">Encuentre las mejores prendas para hombre.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row" style=" margin-top: 6px;">
      <a href="">
        <div class="col">
          <p class="txt-menu">Inicio</p>
        </div>
      </a>
      <a href="catalog">
        <div class="col auto-size">
          <p class="txt-menu">Catálogo</p>
        </div>
      </a>
    </div>
  </nav>
</div>
