.title{
  margin-top: 50px;
  text-align: center;
}

#image{
  max-width: 550px;
  width: 80%;
}

.div-image{
  text-align: center;
  width: 80%;
  height: 300px;
}

.description{
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

p.serif {
  font-family: "Times New Roman", Times, serif;
}

h1.serif {
  font-family: "Times New Roman", Times, serif;
}
