<div class="container">
  <div class="div-form">
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nombre solicitante">
        </div>
        <div class="col">
          <div class="form-group col-md-12">
            <select id="inputState" class="form-control">
              <option selected>Nit</option>
              <option selected>Cédula</option>
              <option selected>Pasaporte</option>
              <option selected>Tipo documento</option>
            </select>
          </div>
        </div>
      </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Fecha hora entrega">
        </div>
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Dirección entrega">
      </div>


      <p>laskfjl laksf lkaj sdlfkj laskdjf lkj aslkdj laksdfj lkja lsdkf laksdj olkj alsdkj lkasdfj</p>

    </form>
  </div>
</div>
