<div class="container">
  <div class="div-form">
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nombre solicitante">
        </div>
        <div class="col">
          <div class="form-group col-md-12">
            <select id="inputState" class="form-control">
              <option selected>Nit</option>
              <option selected>Cédula</option>
              <option selected>Pasaporte</option>
              <option selected>Tipo documento</option>
            </select>
          </div>
        </div>
      </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Fecha hora entrega">
        </div>
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Dirección entrega">
      </div>


      <p>Señor usuario, le informamos que el precio del transporte no está incluido y dependerá
        del lugar de entrega, este se deberá cancelar junto con el valor del pedido en el momento de la
        entrega.</p>

      <div class="button">
        <a href="catalog/order">
          <button type="button" class="btn btn-primary">Enviar</button>
        </a>
      </div>

    </form>
  </div>
</div>
